In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import *

In [2]:
data_s = pd.read_csv("./dataset_s.csv") # standing 0
data_w = pd.read_csv("./dataset_w.csv") # walking 1
data_r = pd.read_csv("./dataset_r.csv") # running 2

# drop the data if gyro_x/y/z is zero
data_s_1= data_s[data_s['gyro_x'] != 0]
data_w_1= data_w[data_w['gyro_x'] != 0]
data_r_1= data_r[data_r['gyro_x'] != 0]

In [3]:
frames = [data_s_1, data_w_1, data_r_1]
data = pd.concat(frames)
pd.set_option('display.max_rows', None)
data.to_csv("./data_all.csv")
data.head()

,time,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
13,2463163198,0,-1.327648,3.116518,8.896414,0.844024,-0.011977,-0.011977
14,2463163203,0,-1.184002,3.545062,8.250007,0.844024,-0.011977,-0.011977
15,2463163213,0,-0.923045,3.698284,7.728094,0.844024,-0.011977,-0.011977
16,2463163208,0,-0.923045,3.698284,7.728094,0.875789,-0.019918,-0.019918
17,2463163218,0,-0.923045,3.698284,7.728094,0.827531,-0.066954,-0.066954

In [4]:
labels=data.activity
data_dropped=data.drop(["time","activity"],axis=1)
features=data_dropped.values
data_dropped.head()

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
13,-1.327648,3.116518,8.896414,0.844024,-0.011977,-0.011977
14,-1.184002,3.545062,8.250007,0.844024,-0.011977,-0.011977
15,-0.923045,3.698284,7.728094,0.844024,-0.011977,-0.011977
16,-0.923045,3.698284,7.728094,0.875789,-0.019918,-0.019918
17,-0.923045,3.698284,7.728094,0.827531,-0.066954,-0.066954

In [5]:
FEATURES=features

In [6]:
LABELS=labels.values

In [7]:
x_train,x_test,y_train,y_test=train_test_split(FEATURES,LABELS,test_size=0.3,random_state=1)

In [8]:
RanFor=RandomForestClassifier(n_estimators=100,random_state=1)

In [9]:
RanFor.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [10]:
accuracy_score(y_train,RanFor.predict(x_train))

0.9999307047328667

In [11]:
accuracy_score(y_test,RanFor.predict(x_test))

0.973322554567502